/*
Color scheme found at
https://www.schemecolor.com/rainbow-colors-for-kids.php
*/

/* composite numbers have black text color*/
.composite{
    color: black;
}

/* multiple of 2 red */
.mult2{
    background-color: #e6261f;
}

/* multiple of 3 orange */
.mult3{
    /*background-color: orange;*/
    background-color: #eb7532;
}

/* multiple of 5 yellow */
.mult5{
    /*background-color: yellow;*/
    background-color: #FFEE00;
}

/* multiple of 7 green */
.mult7{
    background-color: #4DE94C;
}

/* multiple of 11 blue */
.mult11{
    background-color: #3783FF;
}